<h1>Recent Article created</h1>
<p>
  <h2>Title</h2>
  <%= @article.title %>
<p>

<p>
  <h2>Name</h2>
  <%= @article.text %>
<p>

<h2>Comments</h2>

<% @article.comments.each do |comment| %>

  <p>
    <h3>Commenter</h3>
    <%= comment.commenter %>
  <p>

  <p>
    <h3>Body</h3>
    <%= comment.body %>
  <p>

  <%= link_to 'Show Comment', article_comment_path(@article.id, comment.id) %>

<% end %>

<p></p>

<%= link_to 'New Comment', new_article_comment_path(@article) %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>